<div class="row" style="padding: 25px 25px 25px 25px;">
  <div class="col-lg-12 col-xl-12 col-md-12 col-xs-12 col-sm-12">
    <button type="button" class="btn btn-primary" style="float: right;" (click)="back()">Back</button>
  </div>
</div>
<div class="row" style="padding-top: 25px;">
  <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let dt of dataSource;let i = index">
    <div class="card">
      <img class="card-img-top" src="../../../assets/img/avatars/jawa-perak.webp" style=" max-height: 180px;" alt="Card image cap">
      <div class="card-body">
        <p class="card-title"><b>Player Name : </b>{{dt.PlayerName}}</p>
        <p class="card-text"><b>Date of Birth : </b>{{dt.Dob | date:'mediumDate'}}</p>
        <p class="card-text"><b>Batting Style : </b>{{dt.BattingStyle}}</p>
        <p class="card-text"><b>Bowling Style : </b>{{dt.BowlingStyle}}</p>
        <p class="card-text"><b>Debut Year : </b>{{dt.DebutYear}}</p>
        <p class="card-text"><b>Nationalty : </b>{{dt.Nationalty}}</p>
        <hr>
        <p style="font-size: 10px;">
          Created Date : {{dt.CreatedDate | date:'mediumDate'}} <span style="float: right;">Time : {{dt.CreatedDate | date : 'h:mm a'}}</span>
        </p>
        <hr>
        <button type="button" class="btn btn-primary" style="width: 45%;" (click)="getPlayersById(dt.PlayerId)" data-toggle="modal" data-target="#updateModal" >Edit</button>
        <button type="submit" class="btn btn-danger" style="float: right;width: 45%;" (click)="deletePlayers(dt.PlayerId)">Delete</button>
      </div>
    </div>
  </div>
</div>