<div class="row">
  <div class="col-lg-12 col-xl-12" style="padding-top: 25px;">
    <button type="button" class="btn btn-primary" data-toggle="modal" style="float:right; cursor: pointer;"
      data-target="#exampleModal">
      Create Fixtures
    </button>
  </div>
</div>
<br>
<div class="container">
 
  <div class="card" *ngFor="let dt of dataSource;let i = index" style="border: 2px solid rgba(180, 12, 124, 0.726);">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card-body"><p style="font-size: 24px;"><b>{{dt.MatchDate | date : 'EEEE'}} </b></p>
          <p style="font-size: 20px; color: #20a8d8;">{{dt.MatchDate | date : 'dd MMM'}}</p>
          <p style="font-size: 24px; color: #20a8d8;"><b>{{dt.MatchStartTime}} </b></p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card-body"><p style="font-size: 24px;"><b>{{dt.MatchTeamA}} vs {{dt.MatchTeamB}}</b></p>
          <p style="font-size: 20px; color: #20a8d8;">{{dt.MatchVenue}}</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card-body"><p style="font-size: 24px;"><b>{{dt.MatchName}} </b></p>
          <p style="font-size: 20px; color: #20a8d8;">{{dt.MatchType}}</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3">
        <div class="card-body">
      <button type="button" class="btn btn-primary" style="width: 60%; float: right;" (click)="getFixturesById(dt.MatchId)" data-toggle="modal" data-target="#updateModal" >Edit</button>
      <br>
      <br>
      <button type="submit" class="btn btn-danger" style="width: 60%; float: right;" (click)="deleteFixtures(dt.MatchId)">Delete</button>
    </div>
    </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: #20a8d8;">Enter Fixture Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fixture" (ngSubmit)="onSubmit()">
          <div class="row margin25">

            <div class="col-md-12">
              <div class="col-md-12 pt-3">
                <label><b>Match Name</b></label>
                <input type="text" formControlName="MatchName"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Type</b></label>
                <input type="text" formControlName="MatchType"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Format</b></label>
                <input type="text" formControlName="MatchFormat"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Date</b></label>
                <input type="date" formControlName="MatchDate"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Start Time</b></label>
                <input type="time" formControlName="MatchStartTime"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match End Time</b></label>
                <input type="time" formControlName="MatchEndTime"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Team A</b></label>
                <input type="text" formControlName="MatchTeamA"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Team B</b></label>
                <input type="text" formControlName="MatchTeamB"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Venue</b></label>
                <input type="text" formControlName="MatchVenue"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
            </div>

          </div>

          <div class="col-md-12 pt-3">
            <button type="button" id="cancel" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playerModalLabel" style="color: #20a8d8;">Update Fixture Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editfixture" (ngSubmit)="UpdateFixture()">
          <div class="row margin25">

            <div class="col-md-12">
              <div class="col-md-12 pt-3">
                <label><b>Match Name</b></label>
                <input type="text" formControlName="MatchName"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Type</b></label>
                <input type="text" formControlName="MatchType"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Format</b></label>
                <input type="text" formControlName="MatchFormat"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Date</b></label>
                <input type="date" formControlName="MatchDate"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Start Time</b></label>
                <input type="time" formControlName="MatchStartTime"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match End Time</b></label>
                <input type="time" formControlName="MatchEndTime"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Team A</b></label>
                <input type="text" formControlName="MatchTeamA"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Team B</b></label>
                <input type="text" formControlName="MatchTeamB"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
              <div class="col-md-12 pt-3">
                <label><b>Match Venue</b></label>
                <input type="text" formControlName="MatchVenue"
                  style="width:100%; height: 40px; border-radius: 5px; border: 1px solid #000;">
              </div>
            </div>

          </div>

          <div class="col-md-12 pt-3">
            <button type="button" id="cancel1" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>